* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-img img {
  width: 100%;
  height: 100%;
}

.body-container {
  display: flex;
  background: var(--bg);
  color: var(--text);
  background-size: cover;
  background-position: center;
}

.body-header-text1 {
  margin-top: 8rem;
  margin-left: 4rem;
}

.body-header-text1 span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.7rem 0.8rem;

  border-radius: 3rem;

  background: var(--hover);
  color: var(--primary);

  font-size: 0.7rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

.body-header-text2 {
  margin-top: 1.5rem;
  margin-left: 3rem;

  font-size: 3rem;
  font-weight: bold;

  font-family: "Poppins", sans-serif;

  color: var(--text);
}

.body-header-text2 span {
  color: var(--primary);
}

.body-header-text3 {
  margin-left: 3rem;
  margin-top: 1rem;

  font-size: 1rem;

  font-family: "Inter", sans-serif;

  color: var(--text-light);
}

.body-content .btn {
  display: flex;
  gap: 2rem;

  margin-left: 3rem;
  margin-top: 3rem;
}

.body-content button {
  border: none;
  transition: 0.3s;
}

/* Primary Button */

.body-content #create-resume {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 0.7rem 2rem;

  background: var(--primary);
  color: #fff;

  border-radius: 1rem;

  font-size: 1rem;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

.body-content #create-resume:hover {
  transform: translateY(-5px);
  opacity: 0.9;
  box-shadow: var(--shadow);
}

/* Secondary Button */

.body-content #see-templates {
  padding: 0.7rem 2rem;

  background: var(--card);
  color: var(--primary);

  border: 1px solid var(--primary);

  border-radius: 1rem;

  font-size: 1rem;
  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

.body-content #see-templates:hover {
  background: var(--primary);
  color: #fff;

  transform: translateY(-5px);

  box-shadow: var(--shadow);
}

/* Users */

.users-count {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: 0 3rem;
}

.users-count img {
  width: 10rem;
  height: 8rem;
}

.users-count-text {
  color: var(--text-light);

  font-size: 1rem;

  font-family: "Poppins", sans-serif;
}

/* Features */

.header-text4 ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;

  margin-left: 3rem;
}

.header-text4 ul li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  color: var(--text);

  font-size: 0.8rem;
  font-weight: 600;

  font-family: "Poppins", sans-serif;

  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

/* Responsive */

@media (max-width: 768px) {
  .body-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .body-header-text1 {
    margin: 2rem;
    text-align: center;
  }

  .body-header-text2 {
    margin: 1.5rem;
    text-align: center;
    font-size: 2rem;
  }

  .body-header-text3 {
    margin: 1rem 1.5rem;
    text-align: center;
  }

  .body-content .btn {
    margin: 2rem 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .header-text4 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 3rem;

    gap: 1rem;
  }

  .users-count img {
    width: 9rem;
    height: 8rem;
  }

  .users-count-text {
    font-size: 0.8rem;
  }

  .header-text4 ul li {
    font-size: 0.7rem;
  }
}