/* ===========================
   Templates Page
=========================== */

.templates-page {
  min-height: 100vh;
  padding: 35px;
  background: var(--bg);
  color: var(--text);
}

/* ===========================
   Header
=========================== */

.templates-header {
  text-align: center;
  margin-bottom: 40px;
}

.templates-header h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
  color: var(--text);
}

.templates-header p {
  color: var(--text-light);
}

/* ===========================
   Grid
=========================== */

.templates-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin-left: 17rem;
}

/* ===========================
   Template Card
=========================== */

.template-card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 0.3s;
  
}

.template-card:hover {
  transform: translateY(-8px);
  border-color: var(--primary);
}

/* ===========================
   Resume Preview
=========================== */

.template-card > div:first-child {
  height: 450px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid var(--border);
  transform: scale(0.55);
  transform-origin: top center;
  margin-bottom: -190px;
  pointer-events: none;
}

/* ===========================
   Footer
=========================== */

.template-card h3 {
  text-align: center;
  margin: 20px 0 10px;
  color: var(--text);
  font-size: 1.3rem;
}

.template-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.template-actions button {
  border: none;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: 600;
  transition: 0.3s;
}

.preview-btn {
  background: var(--hover);
  color: var(--primary);
}

.preview-btn:hover {
  opacity: 0.9;
}

.use-btn {
  background: var(--primary);
  color: #fff;
}

.use-btn:hover {
  opacity: 0.9;
}

/* ===========================
   Responsive
=========================== */

@media (max-width: 992px) {
  .templates-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .templates-page {
    padding: 20px;
  }

  .templates-header h1 {
    font-size: 1.8rem;
  }

  .template-card > div:first-child {
    transform: scale(0.45);
    margin-bottom: -260px;
  }

  .template-actions {
    flex-direction: column;
  }
}
