.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 1rem;
  padding: 1rem 0;

  background: transparent;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-title {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text);
}

.nav-logo {
  background: transparent;
  cursor: pointer;
}

.nav-logo img {
  background: var(--card);
  border-radius: 12px;
}

.nav-content ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;

  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-content ul a {
  text-decoration: none;
  color: var(--text);
  transition: .3s;
}

.nav-content ul a:hover {
  color: var(--primary);
}

.nav-content li {
  cursor: pointer;
  transition: .3s;
}

.nav-content li:hover {
  transform: translateY(-5px);
}

.nav-content select {
  background: transparent;
  color: var(--text);

  border: none;
  outline: none;

  font-size: 1rem;
  cursor: pointer;
}

/* ===========================
   Right Side
=========================== */

.nav-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dark-btn {
  width: 42px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--card);
  color: var(--text);

  border: 1px solid var(--border);
  border-radius: 50%;

  cursor: pointer;

  transition: .3s;
}

.dark-btn:hover {
  background: var(--primary);
  color: #fff;
  transform: translateY(-5px);
}

.login-btn {
  padding: .55rem 1.2rem;

  background: transparent;
  color: var(--primary);

  border: 1px solid var(--primary);
  border-radius: .7rem;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;
  transition: .3s;
}

.login-btn:hover {
  background: var(--primary);
  color: #fff;
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

.get-started-btn {
  padding: .55rem 1.2rem;

  background: var(--primary);
  color: #fff;

  border: none;
  border-radius: .7rem;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: .3s;
}

.get-started-btn:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
  opacity: .95;
}

/* ===========================
   Responsive
=========================== */

@media (max-width:768px) {
  .nav-content ul {
    display: none;
  }

  .navbar {
    margin-top: .5rem;
  }

  .nav-title h4 {
    font-size: 1rem;
  }

  .nav-logo img {
    width: 2.5rem;
  }

  .get-started-btn {
    display: none;
  }
}